--- 
recorded_with: VCR 2.1.1
http_interactions: 
- request: 
    method: get
    uri: https://support.zendesk.com/api/v2/locales/8.json?include=translations
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Status: 
      - 200 OK
      Content-Type: 
      - application/json; charset=utf-8
      X-Zendesk-Api-Version: 
      - v2
      Etag: 
      - "\"d638783ebcc0a595dcc7e82b47b5adaa\""
    body: 
      string: "{\"locale\":{\"translations\":{\"txt.users.delete_confirm\":\"M\xC3\xB6chten Sie diesen Benutzer wirklich l\xC3\xB6schen?\",\"txt.admin.views.widgets.edit._embed_widget.Background_color\":\"Background color\",\"txt.admin.views.twitter.settings._general_settings.roles_link\":\"roles\",\"txt.entries.show.no_access\":\"Sie haben keinen Zugriff auf dieses Thema.\",\"txt.controllers.ticket_controllers.ticket_solved_notice\":\"Ticket #{{ticket_id}} {{ticket_title}} solved.\",\"txt.admin.views.home._default_dashboard.open_tickets_assigned_to_you_label\":\"Open Tickets\",\"txt.admin.views.ticket_field.sidebar.psst_label\":\"Hey!\",\"txt.admin.views.categories.form.updating_category\":\"Updating category...\",\"txt.users.edit.agent_moderation_yes\":\"Bearbeitung\",\"txt.entries.show.label.planned\":\"Geplant\",\"txt.admin.views.settings.account._address.Province\":\"Province\",\"txt.admin.helpers.ticket_field_helpers.checkbox_label\":\"Checkbox\",\"txt.admin.controllers.settings.email_controller.failed_to_update_email_settings\":\"Failed to update email settings\",\"txt.watchings.invalid_param\":\"Ung\xC3\xBCltige Parameter\",\"txt.admin.views.settings.tickets._ticket_sharing.save_tab_label\":\"Save tab\",\"help.user.signature.content\":\"Eine E-Mail-Signatur wird zu \xC3\xB6ffentlichen Ticketkommentaren hinzugef\xC3\xBCgt.\",\"txt.admin.views.widgets._sidebar.SAManage_is_a_great_IT\":\"SAManage is an IT Asset Management tool that can help you keep track of your companies assets. Track anything from laptops to routers to servers, all in one place.\",\"txt.views.tickets._latest_comment.more_tag\":\"More &raquo;\",\"txt.admin.helpers.crm_helper.Requester_email_address\":\"Requester email address\",\"txt.verification.ticket.title\":\"Sie k\xC3\xB6nnen ein Konto erstellen, um Ihren Anfrageverlauf zu sehen.\",\"txt.tickets._next_ticket.next_ticket\":\"Weiter &#187;\",\"txt.admin.views.account.chat_settings.show.chat_label\":\"Chat\",\"txt.admin.models.sla.name_of_organization_no_organization_label\":\"no organzation\",\"txt.entries.index.add_idea\":\"Idee vorschlagen\",\"txt.admin.views.twitter.settings.index.Channels_label\":\"Channels\",\"txt.admin.helpers.rules_analysis.macro_reference_label\":\"Macro reference\",\"txt.default.reports.unsolved.email\":\"Email\",\"txt.admin.views.widgets.edit._liquid_help.The_current_user_Text_Placeholders\":\"The <code>current_user</code> Text Placeholders\",\"txt.admin.views.voice.client.show.Not_available_for_calls\":\"Not available for calls\",\"txt.admin.controllers.tickets_controllers.keep_repeting_yourself_with_full_permissions\":\"Keep repeating yourself? {{link_1}} or {{link_2}} to save time.\",\"txt.facebook_integration.views.pages.show.no_messages\":\"New private messages on this Facebook Page will be converted to tickets.\",\"txt.email.dunning_last_chance.message\":\"<p>Wir sind seit {{count_of_days}} Tagen nicht in der Lage, die hinterlegte Kreditkarte zu belasten.</p><p> Aus diesem Grund konnte die Zahlung {{payment_id}} in H\xC3\xB6he von {{payment_amount}} nicht abgewickelt werden. <p>Dies ist Ihre LETZTE Gelegenheit, die hinterlegte Kreditkarte zu korrigieren oder zu aktualisieren. Ihr Konto wird leider gesperrt, wenn Sie Ihre Kreditkartendaten nicht umgehend aktualisieren.</p><p>{{user_name}}, der Inhaber des Kontos \xE2\x80\x9E{{account_name}}\xE2\x80\x9C, kann dieses Problem durch Einreichen neuer Kreditkarteninformationen sofort beheben.</p><p>Bitte gehen Sie UNVERZ\xC3\x9CGLICH zu {{payments_url}} und aktualisieren Sie Ihre Kreditkarteninformationen.</p><p>In <a href=\\\"https://support.zendesk.com/entries/51629\\\">diesem Supportartikel</a> sind typische Gr\xC3\xBCnde f\xC3\xBCr Transaktions- und Autorisierungsfehler aufgef\xC3\xBChrt.</p>\",\"txt.admin.views.account.dropboxes._general.Add_a_tag_automatically_to\":\"Add a tag automatically to all incoming tickets sent via the Feedback Tab.\",\"txt.admin.views.rules.search.add_to_all_agent_views\":\"Add to all agent views\",\"txt.admin.views.widgets.edit._jira_widget.Instructions\":\"Instructions\",\"txt.admin.views.ticket_field.field_regexp.enter_ruby_regular_expression\":\"Enter a <a href=\\\"http://rubular.com/\\\" target=\\\"_new\\\">Ruby regular expression</a> to validate this field with:\",\"txt.header.voice.change_settings\":\"Einstellungen \xC3\xA4ndern\",\"txt.email.import_job.missing_fields.message\":\"Fehlendes erforderliches Feld in Kopfzeile: {{field_name}}.\\n\\nWeitere Infos zum erforderlichen Dateiformat finden Sie hier: https://support.zendesk.com/entries/20065732-bulk-importing-users-and-organizations\",\"txt.admin.controllers.settings.tickets_controller.failed_to_update_ticket_sharing_settings\":\"Failed to update ticket sharing settings\",\"txt.admin.models.rules.rule_dictionary.business_greater_than_label\":\"(business) Greater than\",\"txt.admin.helpers.home_helper.unpin_label\":\"(unpin)\",\"txt.admin.models.user.roles.role_name_short_restr_agent_label\":\"Restricted agent\",\"txt.admin.menu.item.reporting\":\"Berichte\",\"txt.admin.views.targets._sidebar.New_comments_in_a_specific\":\"* New comments in a specific message\",\"txt.admin.views.twitter.settings._twitter_account.remove_this_account_as_primary\":\"Remove this account as a primary Twitter account.\",\"txt.admin.views.settings.security._ip_restriction.Allow_agents_to_access_your\":\"Allow agents to access your help desk from native Zendesk apps (iPhone, iPad & Android) regardless of IP address.\",\"txt.admin.views.tickets._sub_header.follow_up_to_ticket_link\":\"ticket #{{id_ticket}}\",\"txt.admin.views.account.dropboxes._general.tab_title_questions\":\"Questions\",\"txt.via_types.phone_call_inbound\":\"Phone call (inbound\",\"txt.admin.controllers.reports_controler.report_updated_label\":\"Report {{report_title}} updated\",\"txt.admin.views.settings.channels.show.Configure_settings_for_how_email\":\"Configure settings for how your help desk handles email as it is received and responded to.\",\"txt.admin.views.settings.channels.show.Channels\":\"Channels\",\"ticket_fields.description.label\":\"Beschreibung\",\"txt.feedback_tab.button.find_someone_to_chat\":\"Jemanden zum Chatten finden\",\"txt.default.triggers.notify_all_received.title\":\"Alle Agenten \xC3\xBCber eingegangene Anfrage informieren\",\"txt.admin.models.voice.number_support.blocked\":\"Blocked\",\"txt.keyboard_shortcuts.title\":\"Tastaturk\xC3\xBCrzel\",\"txt.admin.models.rules.rule_dictionary.request_date_label\":\"Request date\",\"txt.admin.views.people.organizations.edit.notes_label\":\"Notes\",\"txt.admin.views.widgets.edit._log_me_in_widget.Company_ID\":\"Company ID\",\"txt.admin.views.account.subscription.upgrade_from_trial.Promo\":\"Promo\",\"txt.admin.controllers.account.yammer_integration.yammer_removed\":\"Yammer Activity Stream integration removed\",\"type.via.logmein\":\"LogMeIn Rescue\",\"txt.admin.views.twitter.search._twitter_search_form.what_do_you_want_to_seach_for\":\"What do you want to search for?\",\"txt.admin.views.account.credit_card._form.please_review_term_and_condition_link\":\"terms & conditions\",\"txt.default.forums.announcements.name\":\"Ank\xC3\xBCndigungen\",\"txt.admin.views.i18n.translations.show.Number_of_accounts_using_this\":\"Number of accounts using this translation\",\"placeholder.ticket.requester.language\":\"Sprache des Anfragenden.\",\"txt.admin.views.settings.customers._satisfaction.Your_last_100_ratings_advanced\":\"Your last 100 ratings (advanced)\",\"txt.admin.views.people.organizations.edit.tags_label\":\"Tags\",\"txt.admin.models.rules.rule_dictionary.comment_is_label\":\"Comment is...\",\"txt.admin.models.business_hours_definition.You_need_at_least_4\":\"You need at least 4 business hours in a week.\",\"txt.satisfaction.rating.modify\":\"Bewertung \xC3\xA4ndern\",\"datetime.distance_in_words.over_x_years.one\":\"\xC3\xBCber 1 Jahr\",\"txt.admin.views.reports.edit.report_title_label\":\"Report title\",\"txt.widgets.forums.image_alt\":\"Forum\",\"txt.chat.notices.ticket_created\":\"Ticket erstellt:\",\"txt.admin.models.rules.rule_dictionary.hours_since_requester_update_label\":\"Hours since requester update\",\"txt.admin.views.rules.form_conditions.add_action\":\"Add action\",\"txt.requests.index.awaiting\":\"Warten auf Ihre Antwort\",\"txt.admin.views.voice.account_mailer.greeting\":\"<p>Hi {{name}},</p>\",\"txt.admin.views.voice.phone_numbers.edit.Voice_Settings\":\"Voice Settings\",\"txt.admin.account_settings.branding.tab\":\"Branding\",\"txt.admin.views.settings.email._settings.HTML_template\":\"HTML template\",\"placeholder.user.name\":\"The name of the user.\",\"txt.admin.views.targets.edit._jira_target.The_password_for_the_Jira\":\"The password for the Jira account\",\"txt.admin.views.cms.search.index.Import_content\":\"Import content\",\"txt.admin.views.rules.index.add_rule_macro\":\"Add macro\",\"txt.admin.views.search._sidebar.group_support\":\"group:support\",\"txt.admin.helpers.user_helper.delete_user_confirm_message\":\"Are you sure you want to delete this user?\",\"txt.admin.views.settings.security._authentication.The_SHA1_fingerprint_of_the\":\"The SHA1 fingerprint of the SAML certificate. Obtain this from your SAML identity provider.\",\"txt.launchpad.activation_button.show\":\"Launchpad\",\"txt.admin.views.voice.settings._greetings.Voicemail_greeting\":\"Voicemail greeting\",\"txt.admin.views.settings.portal._settings.Introducing_Categories_Questions_Ideas_Articles\":\"Introducing Categories, Questions, Ideas, Articles, Suggestions and more allowing you to bring a better community experience to your customers.\",\"txt.admin.views.ticket_field.form.hide_field_behind_more\":\"On the edit ticket page, hide the field behind a \\\"more\\\" link.\",\"txt.default.roles.advisor.description\":\"Advisors manage the workflow and configure the help desk. They create or manage automations, macros, triggers, views, and SLA targets. They also set up channels and extensions. Advisors don't solve tickets, they can only make private comments.\",\"txt.admin.models.account.survey_response.industries_consultancy\":\"Technology - IT Services & Consultancy\",\"txt.admin.views.widgets.edit._google_analytics_widget.review_google_documentation_link\":\"review Google's documentation\",\"txt.admin.views.widgets.edit._campfire_widget.Enable_this_option_if_you\":\"Enable this option if you turned on guest access in your Campfire chat room. When using guest access, you must enter the public room ID in the room ID field above.\",\"txt.admin.lib.zendesk.form.field.ticket_type_label\":\"Ticket type\",\"help.user.alias.content\":\"F\xC3\xBCr Endbenutzer sichtbarer \xC3\xB6ffentlicher Name.\",\"txt.dashboard.activities.no_updates\":\"Keine vor Kurzem durchgef\xC3\xBChrten Aktualisierungen.\",\"txt.admin.views.widgets.edit._campfire_widget.The_subdomain_you_use_to\":\"The subdomain you use to access your Campfire account\",\"txt.admin.views.tickets.new.Linked_topic\":\"Linked topic\",\"txt.admin.views.targets.edit._campfire_target.Check_this_box_if_you\":\"Select this option to preserve the format of the message by pasting instead of pushing as plain text.\",\"txt.users.edit.add_facebook_account\":\"Hinzuf\xC3\xBCgen\",\"txt.ticket.comment.twitter.count_tootltip\":\"Noch verbleibende Zeichen: \xC3\x9Cber diesen Wert hinausgehende Zeichen werden auf Twitter abgeschnitten, erscheinen aber in Zendesk vollst\xC3\xA4ndig. Je nach Konfiguration Ihres Zendesk wird ein verk\xC3\xBCrzter Link zu diesem Ticket an den Tweet angeh\xC3\xA4ngt.\",\"txt.admin.views.reports.edit.delete_this_report_label\":\"Delete this report?\",\"txt.admin.helpers.suspeded_tickets_helper.manually_recover_as_ticket_label\":\"Manually recover as a new ticket\",\"txt.admin.views.targets.select_target_to_add.name_of_target_twitter_target\":\"Twitter target \xC2\xBB\",\"txt.admin.models.suspended_ticket_notification.Daily_digest\":\"Daily digest\",\"txt.admin.views.cms.texts.index.status_field\":\"Status\",\"txt.admin.views.ticket_field.select_field_to_add.numeric_text\":\"Capture a numeric value. Only integers allowed.\",\"txt.admin.helpers.voice.settings_helper.for\":\"for\",\"txt.admin.views.account.dropboxes._general.Knowledge_Base_Search\":\"Knowledge Base Search <br /> and Topic Suggestions\",\"txt.admin.models.sla.type_of_ticket.ticket\":\"Tickets with priority\",\"date.order\":[\"year\",\"month\",\"day\"],\"txt.admin.views.ticket_field.sidebar.custom_field_id\":\"Custom field ID:\",\"txt.admin.views.settings.security._authentication.Allow_your_users_to_sign_google\":\"Allow your users to sign in using their Gmail or Google Apps account.\",\"txt.controllers.ticket_controllers.tickets_solved_this_week\":\"Tickets solved this week: \",\"txt.admin.lib.zendesk.serialized.definition.na\":\"N/A\",\"activerecord.attributes.jira_widget.custom_field_id\":\"Custom field: \",\"tx[...]
[...]
